<div class=" header pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <br>
        <!--<div class=" row align-items-center py-4">
           <div class=" col-lg-6 col-7">
            <h6 class=" h2 d-inline-block mb-0">Alternative</h6>
   
             <nav
               aria-label="breadcrumb"
               class=" d-none d-md-inline-block ml-md-4"
             >
               <ol class=" breadcrumb breadcrumb-links">
                <li class=" breadcrumb-item">
                   <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
                 </li>
   
                 <li class=" breadcrumb-item">
                   <a href="javascript:void(0)"> Dashboards </a>
                 </li>
   
                 <li aria-current="page" class=" breadcrumb-item active">
                   Alternative
                 </li>
               </ol>
             </nav>
           </div>
   
           <div class=" col-lg-6 col-5 text-right">
             <a class=" btn btn-sm btn-neutral" href="javascript:void(0)"> New </a>
   
             <a class=" btn btn-sm btn-neutral" href="javascript:void(0)">
               Filters
             </a>
           </div>
         </div>--> 
      </div>
    </div>
  </div>
   
  <div class=" container-fluid mt--6">
    <div class=" row">
      
  
      <div class=" col-xl-3 col-md-6">
        <div class=" card bg-gradient-red border-0">
          <div class=" card-body">
            <div class=" row">
              <div class=" col">
                <h5 class=" card-title text-uppercase text-muted mb-0 text-white">
                  Processus 
                </h5>
  
                <span class=" text-uppercase text-muted font-weight-bold text-white" >
                échange
                </span>
  
                <div class=" progress progress-xs mt-3 mb-0">
                  <progressbar type="success" [value]="50"> </progressbar>
                </div>
              </div>
  
              <div class=" col-auto">
                <div
                  class=" icon icon-shape bg-gradient-red text-white rounded-circle shadow"
                >
                  <i class=" ni ni-money-coins"> </i>
                </div>
              </div>
            </div>
  
            <p class=" mt-3 mb-0 text-sm">
              <a
                class=" text-nowrap text-white font-weight-600"
                href="javascript:void(0)"
              >
                See Logs
              </a>
            </p>
          </div>
        </div>
      </div>
  
      
  
      <div class=" card">
        <div class=" card-header"><h5 class=" h3 mb-0">Batch </h5></div>
  
        <div class=" card-body p-0">
          <ul class=" list-group list-group-flush" data-toggle="checklist">
            <li
              class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class=" checklist-item checklist-item-success">
                <div class=" checklist-info">
                  <h5 class=" checklist-title mb-0">treatWaitingSwapDemand.sh</h5>
  
                  <small> Commande MB </small>
                </div>
  
                <!-- <div>
                  <div 
                    class=" custom-control custom-checkbox custom-checkbox-success"
                  >
                    <input
                      
                      class=" custom-control-input"
                      id="chk-todo-task-1"
                      type="checkbox"
                    />
  
                    <label class=" custom-control-label" for="chk-todo-task-1">
                    </label>
                  </div>
                </div> -->
              </div>
            </li>
            
            <li
              class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
            <br>
            <br>
            <br>
           
            
              <div class=" checklist-item checklist-item-warning">
                <div class=" checklist-info">
                  <h5 class=" checklist-title mb-0">treatWaintingReturnDemand.sh  </h5>
  
                  <small> Swap MB </small>
                </div>
  
                <!-- <div>
                  <div
                    class=" custom-control custom-checkbox custom-checkbox-warning"
                  >
                    <input
                      class=" custom-control-input"
                      id="chk-todo-task-2"
                      type="checkbox"
                    />
  
                    <label class=" custom-control-label" for="chk-todo-task-2">
                    </label>
                  </div>
                </div> -->
              </div>
            </li>
            <li
            class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
          >
          <br>
            <br>
            <br>
            <br>
            <div class=" checklist-item checklist-item-success">
              <div class=" checklist-info">
                <h5 class=" checklist-title mb-0">treatWaintingShipping<br>Demand.sh</h5>

                <small> Swap MB </small>
              </div>

              <!-- <div>
                <div 
                  class=" custom-control custom-checkbox custom-checkbox-success"
                >
                  <input
                    
                    class=" custom-control-input"
                    id="chk-todo-task-1"
                    type="checkbox"
                  />

                  <label class=" custom-control-label" for="chk-todo-task-1">
                  </label>
                </div>
              </div> -->
            </div>
          </li>
          
          <li
            class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
          >
          <br>
          <br>
          
         
          
        
            <div class=" checklist-item checklist-item-danger">
              <div class=" checklist-info">
                <h5 class=" checklist-title mb-0">createEffishippingRequest.sh  </h5>

                <small> Shipping MB </small>
              </div>

              <!-- <div>
                <div
                  class=" custom-control custom-checkbox custom-checkbox-warning"
                >
                  <input
                    class=" custom-control-input"
                    id="chk-todo-task-2"
                    type="checkbox"
                  />

                  <label class=" custom-control-label" for="chk-todo-task-2">
                  </label>
                </div>
              </div> -->
            </div>
          </li>

          <li
          class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
        >
        <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            
          <div class=" checklist-item checklist-item-success">
            <div class=" checklist-info">
              <h5 class=" checklist-title mb-0">pushShipping<br>RequestFile.sh</h5>

              <small> EffiShipping MB </small>
            </div>

            <!-- <div>
              <div 
                class=" custom-control custom-checkbox custom-checkbox-success"
              >
                <input
                  
                  class=" custom-control-input"
                  id="chk-todo-task-1"
                  type="checkbox"
                />

                <label class=" custom-control-label" for="chk-todo-task-1">
                </label>
              </div>
            </div> -->
          </div>
        </li>
        
        <li
          class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
        >
        <br>
        <br>
        <br>
        <br>
        <br>
       
          <div class=" checklist-item checklist-item-warning">
            <div class=" checklist-info">
              <h5 class=" checklist-title mb-0">treatLogVadFile.sh</h5>

              <small>EffiShipping MB </small>
            </div>

            <!-- <div>
              <div
                class=" custom-control custom-checkbox custom-checkbox-warning"
              >
                <input
                  class=" custom-control-input"
                  id="chk-todo-task-2"
                  type="checkbox"
                />

                <label class=" custom-control-label" for="chk-todo-task-2">
                </label>
              </div>
            </div> -->
          </div>
        </li>
        <li
        class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
      >
      <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class=" checklist-item checklist-item-success">
          <div class=" checklist-info">
            <h5 class=" checklist-title mb-0">synchronizeShipping<br>Demand.sh </h5>

            <small> Shipping MB </small>
          </div>

          <!-- <div>
            <div 
              class=" custom-control custom-checkbox custom-checkbox-success"
            >
              <input
                
                class=" custom-control-input"
                id="chk-todo-task-1"
                type="checkbox"
              />

              <label class=" custom-control-label" for="chk-todo-task-1">
              </label>
            </div>
          </div> -->
        </div>
      </li>
      
      <li
        class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
      >
      <br>
      <br>
      <br>
      <br>
      
        <div class=" checklist-item checklist-item-danger">
          <div class=" checklist-info">
            <h5 class=" checklist-title mb-0">treatDeliveredShipping.sh  </h5>

            <small> Shipping MB</small>
          </div>

          <!-- <div>
            <div
              class=" custom-control custom-checkbox custom-checkbox-warning"
            >
              <input
                class=" custom-control-input"
                id="chk-todo-task-2"
                type="checkbox"
              />

              <label class=" custom-control-label" for="chk-todo-task-2">
              </label>
            </div>
          </div> -->
        </div>
      </li>
  
           
          <li
          class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
        >
        <br>
        <br>
        <br>
        <br>
        <br>
        
          <div class=" checklist-item checklist-item-success">
            <div class=" checklist-info">
              <h5 class=" checklist-title mb-0">treatProvisioning<br>Demand.sh</h5>

              <small> Shipping MB </small>
            </div>

            <!-- <div>
              <div 
                class=" custom-control custom-checkbox custom-checkbox-success"
              >
                <input
                  
                  class=" custom-control-input"
                  id="chk-todo-task-1"
                  type="checkbox"
                />

                <label class=" custom-control-label" for="chk-todo-task-1">
                </label>
              </div>
            </div> -->
          </div>
        </li>
        
        <li
          class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
        >
        <br>
        <br>
        
        
          <div class=" checklist-item checklist-item-warning">
            <div class=" checklist-info">
              <h5 class=" checklist-title mb-0">provisioningBatch.sh  </h5>

              <small> Provisioning MB </small>
            </div>

            <!-- <div>
              <div
                class=" custom-control custom-checkbox custom-checkbox-warning"
              >
                <input
                  class=" custom-control-input"
                  id="chk-todo-task-2"
                  type="checkbox"
                />

                <label class=" custom-control-label" for="chk-todo-task-2">
                </label>
              </div>
            </div> -->
          </div>
        </li>
        <li
        class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
      >
      <br>
        <br>
        <br>
        
      
        <div class=" checklist-item checklist-item-success">
          <div class=" checklist-info">
            <h5 class=" checklist-title mb-0">synchronizeShipping<br>InfoStatus.sh </h5>

            <small>Swap MB </small>
          </div>

          <!-- <div>
            <div 
              class=" custom-control custom-checkbox custom-checkbox-success"
            >
              <input
                
                class=" custom-control-input"
                id="chk-todo-task-1"
                type="checkbox"
              />

              <label class=" custom-control-label" for="chk-todo-task-1">
              </label>
            </div>
          </div> -->
        </div>
      </li>
      
      <li
        class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
      >
      <br>
      <br>
     
     
        <div class=" checklist-item checklist-item-danger">
          <div class=" checklist-info">
            <h5 class=" checklist-title mb-0">updateCommand<br>SwapDemand.sh  </h5>

            <small>Commande MB</small>
          </div>

          <!-- <div>
            <div
              class=" custom-control custom-checkbox custom-checkbox-warning"
            >
              <input
                class=" custom-control-input"
                id="chk-todo-task-2"
                type="checkbox"
              />

              <label class=" custom-control-label" for="chk-todo-task-2">
              </label>
            </div>
          </div> -->
        </div>
      </li>
      <!-- ---------------------------------------------------------  7-->
      <li
      class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
    >
    <br>
    <br>
    <br>
    <br>
      <div class=" checklist-item checklist-item-success">
        <div class=" checklist-info">
          <h5 class=" checklist-title mb-0">branchementBox.sh</h5>

          <small> Commande MB </small>
        </div>

        <!-- <div>
          <div 
            class=" custom-control custom-checkbox custom-checkbox-success"
          >
            <input
              
              class=" custom-control-input"
              id="chk-todo-task-1"
              type="checkbox"
            />

            <label class=" custom-control-label" for="chk-todo-task-1">
            </label>
          </div>
        </div> -->
      </div>
    </li>
    
    <li
      class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
    >
    <br>
    <br>
    <br>
    
    
      <div class=" checklist-item checklist-item-warning">
        <div class=" checklist-info">
          <h5 class=" checklist-title mb-0">sendReturn<br>Authorizations.sh</h5>

          <small> RetrunTicket MB</small>
        </div>

        <!-- <div>
          <div
            class=" custom-control custom-checkbox custom-checkbox-warning"
          >
            <input
              class=" custom-control-input"
              id="chk-todo-task-2"
              type="checkbox"
            />

            <label class=" custom-control-label" for="chk-todo-task-2">
            </label>
          </div>
        </div> -->
      </div>
    </li>
    <li
    class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
  >
  <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class=" checklist-item checklist-item-success">
      <div class=" checklist-info">
        <h5 class=" checklist-title mb-0">synchronizeReturn<br>InfoStatus.sh</h5>

        <small> Swap MB </small>
      </div>

      <!-- <div>
        <div 
          class=" custom-control custom-checkbox custom-checkbox-success"
        >
          <input
            
            class=" custom-control-input"
            id="chk-todo-task-1"
            type="checkbox"
          />

          <label class=" custom-control-label" for="chk-todo-task-1">
          </label>
        </div>
      </div> -->
    </div>
  </li>
  
  <li
    class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
  >
  <br>
  <br>
 

    <div class=" checklist-item checklist-item-danger">
      <div class=" checklist-info">
        <h5 class=" checklist-title mb-0">updateCommand<br>SwapDemand.sh  </h5>

        <small> Commande MB </small>
      </div>

      <!-- <div>
        <div
          class=" custom-control custom-checkbox custom-checkbox-warning"
        >
          <input
            class=" custom-control-input"
            id="chk-todo-task-2"
            type="checkbox"
          />

          <label class=" custom-control-label" for="chk-todo-task-2">
          </label>
        </div>
      </div> -->
    </div>
  </li>

  <li
  class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
>
<br>
  <br>
    <br>
    <br>
  <div class=" checklist-item checklist-item-success">
    <div class=" checklist-info">
      <h5 class=" checklist-title mb-0">createCrRestitution<br>ForReturnDemand.sh</h5>

      <small> RetrunTicket MB</small>
    </div>

    <!-- <div>
      <div 
        class=" custom-control custom-checkbox custom-checkbox-success"
      >
        <input
          
          class=" custom-control-input"
          id="chk-todo-task-1"
          type="checkbox"
        />

        <label class=" custom-control-label" for="chk-todo-task-1">
        </label>
      </div>
    </div> -->
  </div>
</li>

<li
  class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
>
<br>
<br>
<br>
<br>
  <div class=" checklist-item checklist-item-warning">
    <div class=" checklist-info">
      <h5 class=" checklist-title mb-0">treatAnovoFile.sh</h5>

      <small>RetrunTicket MB </small>
    </div>

    <!-- <div>
      <div
        class=" custom-control custom-checkbox custom-checkbox-warning"
      >
        <input
          class=" custom-control-input"
          id="chk-todo-task-2"
          type="checkbox"
        />

        <label class=" custom-control-label" for="chk-todo-task-2">
        </label>
      </div>
    </div> -->
  </div>
</li>
<li
class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class=" checklist-item checklist-item-success">
  <div class=" checklist-info">
    <h5 class=" checklist-title mb-0">createCrRestitution<br>ForReturnDemand.sh </h5>

    <small> RetrunTicket MB </small>
  </div>

  <!-- <div>
    <div 
      class=" custom-control custom-checkbox custom-checkbox-success"
    >
      <input
        
        class=" custom-control-input"
        id="chk-todo-task-1"
        type="checkbox"
      />

      <label class=" custom-control-label" for="chk-todo-task-1">
      </label>
    </div>
  </div> -->
</div>
</li>

<li
class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
>
<br>
<br>
<br>

<div class=" checklist-item checklist-item-danger">
  <div class=" checklist-info">
    <h5 class=" checklist-title mb-0">updateEquipmentStatus.sh  </h5>

    <small> RetrunTicket MB</small>
  </div>

  <!-- <div>
    <div
      class=" custom-control custom-checkbox custom-checkbox-warning"
    >
      <input
        class=" custom-control-input"
        id="chk-todo-task-2"
        type="checkbox"
      />

      <label class=" custom-control-label" for="chk-todo-task-2">
      </label>
    </div>
  </div> -->
</div>
</li>

   
  <li
  class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
>
<br>
<br>


  <div class=" checklist-item checklist-item-success">
    <div class=" checklist-info">
      <h5 class=" checklist-title mb-0">sendDeprovisioning<br>Demands.sh</h5>

      <small> RetrunTicket MB </small>
    </div>

    <!-- <div>
      <div 
        class=" custom-control custom-checkbox custom-checkbox-success"
      >
        <input
          
          class=" custom-control-input"
          id="chk-todo-task-1"
          type="checkbox"
        />

        <label class=" custom-control-label" for="chk-todo-task-1">
        </label>
      </div>
    </div> -->
  </div>
</li>

<li
  class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
>
<br>
<br>
<br>

  <div class=" checklist-item checklist-item-warning">
    <div class=" checklist-info">
      <h5 class=" checklist-title mb-0">deProvisioningBatch.sh  </h5>

      <small> Provisioning MB </small>
    </div>

    <!-- <div>
      <div
        class=" custom-control custom-checkbox custom-checkbox-warning"
      >
        <input
          class=" custom-control-input"
          id="chk-todo-task-2"
          type="checkbox"
        />

        <label class=" custom-control-label" for="chk-todo-task-2">
        </label>
      </div>
    </div> -->
  </div>
</li>
<li
class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
>
<br>
<br>
<br>



<div class=" checklist-item checklist-item-success">
  <div class=" checklist-info">
    <h5 class=" checklist-title mb-0">synchronizeReturn<br>InfoStatus.sh </h5>

    <small>Swap MB </small>
  </div>

  <!-- <div>
    <div 
      class=" custom-control custom-checkbox custom-checkbox-success"
    >
      <input
        
        class=" custom-control-input"
        id="chk-todo-task-1"
        type="checkbox"
      />

      <label class=" custom-control-label" for="chk-todo-task-1">
      </label>
    </div>
  </div> -->
</div>
</li>

<li
class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
>
<br>
<br>


<div class=" checklist-item checklist-item-danger">
  <div class=" checklist-info">
    <h5 class=" checklist-title mb-0">updateCommandSwap<br>Demand.sh  </h5>

    <small>Commande MB</small>
  </div>

  <!-- <div>
    <div
      class=" custom-control custom-checkbox custom-checkbox-warning"
    >
      <input
        class=" custom-control-input"
        id="chk-todo-task-2"
        type="checkbox"
      />

      <label class=" custom-control-label" for="chk-todo-task-2">
      </label>
    </div>
  </div> -->
</div>
</li>



<li
class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
>
<br>
<br>
<br>
<br>
<br>

<div class=" checklist-item checklist-item-warning">
  <div class=" checklist-info">
    <h5 class=" checklist-title mb-0">TreatCR.sh </h5>

    <small>Commande MB </small>
  </div>

  <!-- <div>
    <div 
      class=" custom-control custom-checkbox custom-checkbox-success"
    >
      <input
        
        class=" custom-control-input"
        id="chk-todo-task-1"
        type="checkbox"
      />

      <label class=" custom-control-label" for="chk-todo-task-1">
      </label>
    </div>
  </div> -->
</div>
</li>


            
          </ul>
        </div>
      </div>
      
      <div class=" col-lg-6">
        <div class=" card">
          <div class=" card-header bg-transparent">
            <h3 class=" mb-0">Résultat</h3>
          </div>
  
          <div class=" card-body">
            <div
              class=" timeline timeline-one-side"
              data-timeline-axis-style="dashed"
              data-timeline-content="axis"
            >
              <div class=" timeline-block">
                <span class=" timeline-step badge-success">
                  <i class=" ni ni-bell-55"> </i>
                </span>
  
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-1"> Non Fréquentiel </small>
            
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-success"> ● </span>Création d’une nouvelle demande d’échange
                    dans la brique Swap MB avec le statut
                    « CREATED ».
                  </p>
                  
  
  
                 <!-- <div class=" mt-3">
                    <span class=" badge badge-pill badge-success mr-1">
                      date
                    </span>
  
                    <span class=" badge badge-pill badge-success mr-1">
                      string
                    </span>
  
                    <span class=" badge badge-pill badge-success">
                      query
                    </span>
                  </div>-->
                </div>
              </div>
  
              <div class=" timeline-block">
                <span class=" timeline-step badge-warning">
                  <i class=" ni ni-fat-delete"> </i>
                </span>
                
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-3"> Non Fréquentiel </small>
  
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-warning"> ● </span> Création d’une nouvelle demande de bon de
                    retour dans la brique ReturnTicket MB avec
                    le statut « CREATED ».
                  </p>
                  
  
                  <div class=" mt-3">
                    <span class=" badge badge-pill badge-warning mr-1">
                      none
                    </span>
  
                   
                  </div>
                </div>
              </div>


              <div class=" timeline-block">
                <span class=" timeline-step badge-success">
                  <i class=" ni ni-bell-55"> </i>
                </span>
  
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-1"> Non Fréquentiel </small>
            
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-success"> ● </span> Création d’une nouvelle demande de bon de
                    retour dans la brique ReturnTicket MB avec
                    le statut « CREATED ».
                  </p>
                 
                  
  
  
                 <!-- <div class=" mt-3">
                    <span class=" badge badge-pill badge-success mr-1">
                      date
                    </span>
  
                    <span class=" badge badge-pill badge-success mr-1">
                      string
                    </span>
  
                    <span class=" badge badge-pill badge-success">
                      query
                    </span>
                  </div>-->
                </div>
              </div>
  
              <div class=" timeline-block">
                <span class=" timeline-step badge-warning">
                  <i class=" ni ni-fat-delete"> </i>
                </span>
                
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-3"> Non Fréquentiel </small>
  
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-warning"> ● </span>Création d’une nouvelle demande de
                    shipping dans la brique EffiShipping MB
                    avec le statut « CREATED ».
                  </p>
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-warning"> ● </span> Passage de statut de la demande de shipping
                    de « CREATE » à « IN_PROCESS ». 
                  </p>
                 
                  
  
                  <div class=" mt-3">
                    <span class=" badge badge-pill badge-warning mr-1">
                      none
                    </span>
  
                   
                  </div>
                </div>
              </div>

              <div class=" timeline-block">
                <span class=" timeline-step badge-success">
                  <i class=" ni ni-bell-55"> </i>
                </span>
  
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-1"> Non Fréquentiel </small>
            
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-success"> ● </span> Création d’une demande de livraison sous

                    format d’un fichier.
                  </p>
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-success"> ● </span>Transfert du fichier vers le FTP LogVAD.
                  </p>
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-success"> ● </span>Passage de statut de la demande de shipping
                    de « CREATE » à « IN_PROCESS ».
                  </p>
                  
  
  
                 <!-- <div class=" mt-3">
                    <span class=" badge badge-pill badge-success mr-1">
                      date
                    </span>
  
                    <span class=" badge badge-pill badge-success mr-1">
                      string
                    </span>
  
                    <span class=" badge badge-pill badge-success">
                      query
                    </span>
                  </div>-->
                </div>
              </div>
              

              <div class=" timeline-block">
                <span class=" timeline-step badge-warning">
                  <i class=" ni ni-fat-delete"> </i>
                </span>
                
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-3"> Non Fréquentiel </small>
  
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-warning"> ● </span>Récupération des fichiers de livraison

                    depuis le FTP de logVAD.
                  </p>
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-warning"> ● </span>Passage de statut de la demande de shipping de « IN_PROCESS » à « DELIVERED ». 
                  </p>
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-warning"> ● </span>Mise à jour des données (serial number, date
                    de livraison, num tracking). 
                  </p>
                 
                  <div class=" mt-3">
                    <span class=" badge badge-pill badge-warning mr-1">
                      none
                    </span>

                  </div>
                </div>
              </div>
  
              

              <div class=" timeline-block">
                <span class=" timeline-step badge-success">
                  <i class=" ni ni-bell-55"> </i>
                </span>
  
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-1"> Non Fréquentiel </small>
            
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-success"> ● </span> Passage de statut de la demande de shipping
                    de « IN_PROCESS » à « DELIVERED ». </p>
                    <p class=" text-sm mt-1 mb-0">
                        <span class=" text-success"> ● </span> Mise à jour des données (serial number, date
                        de livraison, num tracking). </p>
    
                 <!-- <div class=" mt-3">
                    <span class=" badge badge-pill badge-success mr-1">
                      date
                    </span>
  
                    <span class=" badge badge-pill badge-success mr-1">
                      string
                    </span>
  
                    <span class=" badge badge-pill badge-success">
                      query
                    </span>
                  </div>-->
                </div>
              </div>
  

              <div class=" timeline-block">
                <span class=" timeline-step badge-warning">
                  <i class=" ni ni-fat-delete"> </i>
                </span>
                
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-3"> Non Fréquentiel </small>
  
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-warning"> ● </span>Création d’une association (contrat
                    Equipment) dans la brique NetEquipment
                    MB.
                  </p>
                 
                 
                  <div class=" mt-3">
                    <span class=" badge badge-pill badge-warning mr-1">
                      none
                    </span>

                  </div>
                </div>
              </div>
             

              <div class=" timeline-block">
                <span class=" timeline-step badge-success">
                  <i class=" ni ni-bell-55"> </i>
                </span>
  
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-1"> Non Fréquentiel </small>
            
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-success"> ● </span> Lancement de provisioning du box à travers
                    la brique Provisioning MB.</p>
    
                 <!-- <div class=" mt-3">
                    <span class=" badge badge-pill badge-success mr-1">
                      date
                    </span>
  
                    <span class=" badge badge-pill badge-success mr-1">
                      string
                    </span>
  
                    <span class=" badge badge-pill badge-success">
                      query
                    </span>
                  </div>-->
                </div>
              </div>


              <div class=" timeline-block">
                <span class=" timeline-step badge-warning">
                  <i class=" ni ni-fat-delete"> </i>
                </span>
                
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-3"> Non Fréquentiel </small>
  
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-warning"> ● </span>Lancement de batch de provisioning du box
                    en cas ou le WS TR069 a lancé une
                    exception.
                  </p>
                
                 
                 
                  <div class=" mt-3">
                    <span class=" badge badge-pill badge-warning mr-1">
                      none
                    </span>

                  </div>
                </div>
              </div>



              
              <div class=" timeline-block">
                <span class=" timeline-step badge-success">
                  <i class=" ni ni-bell-55"> </i>
                </span>
  
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-1"> Non Fréquentiel </small>
            
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-success"> ● </span> Passage de statut de la demande de shipping
                    de « IN_PROGRESS » à « CLOSED ».</p>
                   
    
                 <!-- <div class=" mt-3">
                    <span class=" badge badge-pill badge-success mr-1">
                      date
                    </span>
  
                    <span class=" badge badge-pill badge-success mr-1">
                      string
                    </span>
  
                    <span class=" badge badge-pill badge-success">
                      query
                    </span>
                  </div>-->
                </div>
              </div>


              <div class=" timeline-block">
                <span class=" timeline-step badge-warning">
                  <i class=" ni ni-fat-delete"> </i>
                </span>
                
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-3"> Non Fréquentiel </small>
  
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-warning"> ● </span>Création d’un CR « BOX_EXPEDITION ».
                  </p>
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-warning"> ● </span>Création d’un CR « BOX_ACTIVATION ».
                  </p>
                 
                 
                  <div class=" mt-3">
                    <span class=" badge badge-pill badge-warning mr-1">
                      none
                    </span>

                  </div>
                </div>
              </div>

              <div class=" timeline-block">
                <span class=" timeline-step badge-success">
                  <i class=" ni ni-bell-55"> </i>
                </span>
  
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-1"> Non Fréquentiel </small>
            
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-success"> ● </span>Récupération de la date dateLastConnexion

                    depuis SAV.
                  </p>
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-success"> ● </span>Création d’un CR « BRANCHEMENT_BOX ».
                  </p>
                  
                  
  
  
                 <!-- <div class=" mt-3">
                    <span class=" badge badge-pill badge-success mr-1">
                      date
                    </span>
  
                    <span class=" badge badge-pill badge-success mr-1">
                      string
                    </span>
  
                    <span class=" badge badge-pill badge-success">
                      query
                    </span>
                  </div>-->
                </div>
              </div>
  
              <div class=" timeline-block">
                <span class=" timeline-step badge-warning">
                  <i class=" ni ni-fat-delete"> </i>
                </span>
                
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-3"> Non Fréquentiel </small>
  
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-warning"> ● </span> CCréation du bon de retour auprès de
                    COLIPOSTE et l’envoyer à l’opérateur.
                  </p>
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-warning"> ● </span> Passage de statut de la demande de
                    résiliation de « WAITING_FOR_COLIPOSTE » à
                    « WAITING_CUSTOMER_RETURN ».
                  </p>
                  
  
                  <div class=" mt-3">
                    <span class=" badge badge-pill badge-warning mr-1">
                      none
                    </span>
  
                   
                  </div>
                </div>
              </div>


              <div class=" timeline-block">
                <span class=" timeline-step badge-success">
                  <i class=" ni ni-bell-55"> </i>
                </span>
  
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-1"> Non Fréquentiel </small>
            
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-success"> ● </span> Passage de statut de la demande de return de
                    « IN_PROGRESS » à «
                    WAITING_CUSTOMER_RETURN ».
                  </p>
                 
                  
  
  
                 <!-- <div class=" mt-3">
                    <span class=" badge badge-pill badge-success mr-1">
                      date
                    </span>
  
                    <span class=" badge badge-pill badge-success mr-1">
                      string
                    </span>
  
                    <span class=" badge badge-pill badge-success">
                      query
                    </span>
                  </div>-->
                </div>
              </div>
  
              <div class=" timeline-block">
                <span class=" timeline-step badge-warning">
                  <i class=" ni ni-fat-delete"> </i>
                </span>
                
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-3"> Non Fréquentiel </small>
  
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-warning"> ● </span>Création d’un CR

                    « BOX_ENVOI_ETIQUETTE ».
                  </p>
                 
                 
                  
  
                  <div class=" mt-3">
                    <span class=" badge badge-pill badge-warning mr-1">
                      none
                    </span>
  
                   
                  </div>
                </div>
              </div>

              <div class=" timeline-block">
                <span class=" timeline-step badge-success">
                  <i class=" ni ni-bell-55"> </i>
                </span>
  
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-1"> Non Fréquentiel </small>
            
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-success"> ● </span> Si la demande de bon de retour a le statut «
                    RT_WAITING_CUSTOMER_RETURN
                    » et la date de restitution de box + 3 jours
                    est inférieure à la date de jour donc création
                    d’un CR « BOX_RESTITUTION » NOK
                    dans la brique Commande MB.
                  </p>
                  
                  
  
  
                 <!-- <div class=" mt-3">
                    <span class=" badge badge-pill badge-success mr-1">
                      date
                    </span>
  
                    <span class=" badge badge-pill badge-success mr-1">
                      string
                    </span>
  
                    <span class=" badge badge-pill badge-success">
                      query
                    </span>
                  </div>-->
                </div>
              </div>
              

              <div class=" timeline-block">
                <span class=" timeline-step badge-warning">
                  <i class=" ni ni-fat-delete"> </i>
                </span>
                
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-3"> Non Fréquentiel </small>
  
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-warning"> ● </span>Récupération de fichier des bons de retours

                    depuis le ftp ANOVO.
                  </p>
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-warning"> ● </span>Appel la méthode receiveEquipement pour
                    le Mettre à jour les demandes de retours
                    dont les équipements sont retournés. 
                  </p>
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-warning"> ● </span>Passage de statut de la demande de
                    résiliation de « «
                    WAITING_CUSTOMER_RETURN » à
                    « TREATED ». 
                  </p>
                 
                  <div class=" mt-3">
                    <span class=" badge badge-pill badge-warning mr-1">
                      none
                    </span>

                  </div>
                </div>
              </div>
  
              

              <div class=" timeline-block">
                <span class=" timeline-step badge-success">
                  <i class=" ni ni-bell-55"> </i>
                </span>
  
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-1"> Non Fréquentiel </small>
            
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-success"> ● </span> Si la demande de bon de retour a le statut «
                    TREATED » donc création d’un CR
                    « BOX_RESTITUTION » OK dans la
                    brique Commande MB. </p>
                    
    
                 <!-- <div class=" mt-3">
                    <span class=" badge badge-pill badge-success mr-1">
                      date
                    </span>
  
                    <span class=" badge badge-pill badge-success mr-1">
                      string
                    </span>
  
                    <span class=" badge badge-pill badge-success">
                      query
                    </span>
                  </div>-->
                </div>
              </div>
  

              <div class=" timeline-block">
                <span class=" timeline-step badge-warning">
                  <i class=" ni ni-fat-delete"> </i>
                </span>
                
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-3"> Non Fréquentiel </small>
  
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-warning"> ● </span>Dissociation du contrat dans la brique
                    NetEquipment MB.
                  </p>
                 
                 
                  <div class=" mt-3">
                    <span class=" badge badge-pill badge-warning mr-1">
                      none
                    </span>

                  </div>
                </div>
              </div>
             

              <div class=" timeline-block">
                <span class=" timeline-step badge-success">
                  <i class=" ni ni-bell-55"> </i>
                </span>
  
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-1"> Non Fréquentiel </small>
            
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-success"> ● </span> Lancement de déprovisioning du box à
                    travers la brique Provisioning MB.</p>
    
                 <!-- <div class=" mt-3">
                    <span class=" badge badge-pill badge-success mr-1">
                      date
                    </span>
  
                    <span class=" badge badge-pill badge-success mr-1">
                      string
                    </span>
  
                    <span class=" badge badge-pill badge-success">
                      query
                    </span>
                  </div>-->
                </div>
              </div>


              <div class=" timeline-block">
                <span class=" timeline-step badge-warning">
                  <i class=" ni ni-fat-delete"> </i>
                </span>
                
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-3"> Non Fréquentiel </small>
  
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-warning"> ● </span>Lancement de batch de déprovisioning du
                    box en cas ou le WS TR069 a lancé une
                    exception
                  </p>
                
                 
                 
                  <div class=" mt-3">
                    <span class=" badge badge-pill badge-warning mr-1">
                      none
                    </span>

                  </div>
                </div>
              </div>



              
              <div class=" timeline-block">
                <span class=" timeline-step badge-success">
                  <i class=" ni ni-bell-55"> </i>
                </span>
  
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-1"> Non Fréquentiel </small>
            
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-success"> ● </span> Passage de statut de la demande de return de
                    « WAITING_CUSTOMER_RETURN » à «
                    RETURNED ».</p>
                   
    
                 <!-- <div class=" mt-3">
                    <span class=" badge badge-pill badge-success mr-1">
                      date
                    </span>
  
                    <span class=" badge badge-pill badge-success mr-1">
                      string
                    </span>
  
                    <span class=" badge badge-pill badge-success">
                      query
                    </span>
                  </div>-->
                </div>
              </div>


              <div class=" timeline-block">
                <span class=" timeline-step badge-warning">
                  <i class=" ni ni-fat-delete"> </i>
                </span>
                
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-3"> Non Fréquentiel </small>
  
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-warning"> ● </span>Passage de statut de la demande de
                    résiliation de « « IN_PROGRESS » à
                    « CLOSED ».
                  </p>
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-warning"> ● </span>Création d’un CR « BOX_DESACTIVATION ».
                  </p>
                 
                 
                  <div class=" mt-3">
                    <span class=" badge badge-pill badge-warning mr-1">
                      none
                    </span>

                  </div>
                </div>
              </div>
              
              <div class=" timeline-block">
                <span class=" timeline-step badge-warning">
                  <i class=" ni ni-fat-delete"> </i>
                </span>
                
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold fas fa-clock mr-3"> Non Fréquentiel </small>
  
                  <h5 class=" mt-3 mb-0">Output</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-warning"> ● </span>Envoi des CRs crées vers Bicool par ordre

                    de création.
                  </p>
                  <p class=" text-sm mt-1 mb-0">
                    <span class=" text-warning"> ● </span>Mise à jour du CR : treated =true.
                  </p>
                
                 
                 
                  <div class=" mt-3">
                    <span class=" badge badge-pill badge-warning mr-1">
                      none
                    </span>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>