<nav
  class="navbar navbar-top navbar-expand border-bottom bg-secondary navbar-light"
  id="navbar-main"
>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Navbar links -->
      <ul class="navbar-nav align-items-center">
        <li class="nav-item">
          <a href="https://www.nordnet.com/" class="nav-link">
           <h2>Acceuil</h2>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-center ml-md-auto">
        <li class="nav-item d-sm-none">
          <a class="nav-link">
            <i class="ni ni-zoom-split-in"></i>
          </a>
        </li>
        
        
        <li class="nav-item dropdown" dropdown placement="bottom-right">
          <a
            class="nav-link dropdown-toggle"
            href="javascript:void(0)"
            role="button"
            dropdownToggle
          >
            <i class="ni ni-settings text-danger "></i>
          </a>
          <div
            class="dropdown-menu dropdown-menu-lg dropdown-menu-dark bg-default dropdown-menu-right"
            *dropdownMenu
          >
            <div class="row shortcuts px-4">
              <a [routerLink]="['/tracing']" class="col-4 shortcut-item">
                <span
                  class="shortcut-media avatar rounded-circle bg-gradient-red"
                >
                  <i class="ni ni-zoom-split-in" ></i>
                </span>
                <small>Trace</small>
              </a>
              <a [routerLink]="['/traceviewer']" class="col-4 shortcut-item">
                <span
                  class="shortcut-media avatar rounded-circle bg-gradient-orange"
                >
                  <i class="ni ni-tv-2"></i>
                </span>
                <small>View trace</small>
              </a>
              <a [routerLink]="['/dependencies']" class="col-4 shortcut-item">
                <span
                  class="shortcut-media avatar rounded-circle bg-gradient-info"
                >
                  <i class="ni ni-cloud-upload-96"></i>
                </span>
                <small>Dependencies</small>
              </a>
              <a href="javascript:void()" class="col-4 shortcut-item">
                <span
                  class="shortcut-media avatar rounded-circle bg-gradient-green"
                >
                  <i class="ni ni-books"></i>
                </span>
                <small>Reports</small>
              </a>
              <a href="javascript:void()" class="col-4 shortcut-item">
                <span
                  class="shortcut-media avatar rounded-circle bg-gradient-purple"
                >
                  <i class="ni ni-pin-3"></i>
                </span>
                <small>Maps</small>
              </a>
              <a [routerLink]="['/login']"  (click)="Logout()" class="col-4 shortcut-item">
                <span
                  class="shortcut-media avatar rounded-circle bg-gradient-yellow"
                >
                  <i class="ni ni-user-run"></i>
                </span>
                <small>Logout</small>
              </a>
            </div>
          </div>
        </li>
      </ul>
      <!-- User -->
      <ul class="navbar-nav align-items-center ml-auto ml-md-0">
        <li class="nav-item dropdown" dropdown placement="bottom-right">
          <a class="nav-link pr-0 dropdown-toggle" role="button" dropdownToggle>
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img
                  alt="Image placeholder"
                  src="assets/img/theme/adm.jpg"
                />
              </span>
              <div class="media-body ml-2 d-none d-lg-block">
                <span class="mb-0 text-sm  font-weight-bold">Admin</span>
              </div>
            </div>
          </a>
          <div
            class="dropdown-menu dropdown-menu-arrow dropdown-menu-right"
            *dropdownMenu
          >
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">Welcome!</h6>
            </div>
            <a
              routerLinkActive="active"
              [routerLink]="['/profile']"
              class="dropdown-item"
            >
              <i class="ni ni-single-02"></i> <span>My profile</span>
            </a>
            <a
              routerLinkActive="active"
              [routerLink]="['/user-profile']"
              class="dropdown-item"
            >
              <i class="ni ni-settings-gear-65"></i> <span>Settings</span>
            </a>
            <a
              routerLinkActive="active"
              [routerLink]="['/user-profile']"
              class="dropdown-item"
            >
              <i class="ni ni-calendar-grid-58"></i> <span>Activity</span>
            </a>
            <a
              routerLinkActive="active"
              [routerLink]="['/examples/user-profile']"
              class="dropdown-item"
            >
              <i class="ni ni-support-16"></i> <span>Support</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="javascript:void()" class="dropdown-item">
              <i class="ni ni-user-run"></i> <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div
  *ngIf="sidenavOpen === true"
  class="backdrop d-xl-none"
  (click)="toggleSidenav()"
></div>
