<div class=" header bg-danger pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2 text-white d-inline-block mb-0"> Collaborateurs</h6>
  
           <nav
              aria-label="breadcrumb"
              class=" d-none d-md-inline-block ml-md-4"
            >
              <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)"> <i class="ni ni-badge"> </i> </a>
                </li>
  
                <!-- <li class=" breadcrumb-item">
                  <a href="javascript:void(0)"> Tables </a>
                </li>
  
                <li aria-current="page" class=" breadcrumb-item active"> 
                  Tables
                </li> -->
              </ol>
            </nav>
          </div>
  
          <!--<div class=" col-lg-6 col-5 text-right">
            <a class=" btn btn-sm btn-neutral" href="javascript:void(0)"> New </a>
  
            <a class=" btn btn-sm btn-neutral" href="javascript:void(0)">
              Filters
            </a>
          </div>-->
        </div>
      </div>
    </div>
  </div>

  <div class=" container-fluid mt--6">
    <div class=" row">
      <div class=" col">




<div class=" card">
    <div class=" card-header border-0">
      <div class=" row">
        <div class=" col-6"><h3 class=" mb-0"></h3></div>

        <div class=" col-6 text-right">
          <a
            class=" btn btn-sm btn-neutral btn-round btn-icon"
            href="javascript:void(0)"
            tooltip="Edit product"
            placement="top"
          >
            <span class=" btn-inner--icon">
              <i class=" fas fa-user-edit"> </i>
            </span>

            <span class=" btn-inner--text" (click)="openFormModal(modalForm)"> Ajout Collaborateur 
              
            </span>
            <ng-template #modalForm>
              <div class=" modal-body p-0">
                <div class=" card bg-secondary border-0 mb-0">
                  <div class=" card-header bg-transparent pb-1 text-center">
                    <label
                    class=" text text-center"
                    for=" customCheckLogin"
                  >
                    <span>Données Collaborateur</span>
                  </label>

                   
                  </div>

                  <div class=" card-body px-lg-5 py-lg-5">
                    

                    <form [formGroup]="addUserForm" (ngSubmit)="onAdd()">
                      <div class="form-group mb-3">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                          </div>
                          <input
                            class="form-control"
                            type="text"
                            id="name"
                            formControlName="name"
                            placeholder="Nom"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                          />
                          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Le nom est obligatoire</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                          </div>
                          <input
                            class="form-control"
                            type="email"
                            id="email"
                            formControlName="email"
                            placeholder="Email"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                          />
                          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">L'email est obligatoire</div>
                            <div *ngIf="f.email.errors.email">L'email n'est pas valide</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                          </div>
                          <input
                            class="form-control"
                            type="tel"
                            id="phone"
                            formControlName="phoneNumber"
                            placeholder="Téléphone"
                            [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }"
                          />
                          <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                            <div *ngIf="f.phoneNumber.errors.required">Le numéro téléphone est obligatoire</div>
                            <div *ngIf="f.phoneNumber.errors.minlength">Le numéro de téléphone doit comporter au moins 8 caractères</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-badge"></i></span>
                          </div>
                          <input
                            class="form-control"
                            type="text"
                            id="username"
                            formControlName="username"
                            placeholder="Nom d'utilisateur"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                          />
                          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Le nom d'utilisateur est obligatoire</div>
                            <!-- Include your custom validator message if needed -->
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                          </div>
                          <input
                            class="form-control"
                            type="password"
                            id="password"
                            formControlName="password"
                            placeholder="Mot de passe"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                          />
                          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Le mot de passe est obligatoire</div>
                            <div *ngIf="f.password.errors.minlength">Le mot de passe doit comporter au moins 8 caractères</div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-3"  for="exampleFormControlSelect2">
                        <div class="input-group input-group-alternative"  for="exampleFormControlSelect2">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-key-25"></i></span>
                          </div>
                          <select id="exampleFormControlSelect2" formControlName="roles" class="form-control" multiple="multiple">
                            <option value="">Collaborateur</option>
                            <option value="admin">Admin</option>
                            <option value="mod">Manager</option>
                          </select>
                        </div>
                      </div>
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary my-4">Enregistrer</button>
                      </div>
                    </form>
                    
                  </div>
                </div>
              </div>
            </ng-template>
          </a>
        </div>
      </div>
    </div>

    <div class=" table-responsive">
      <table class=" table align-items-center table-flush">
        <thead class=" thead-light">
          <tr>
            <th>Collaborateur</th>

            <th>Date céation</th>
            <th class=" sort" data-sort="status" scope="col">Statut</th>
            <th>E-mail</th>
            <th class=" sort" data-sort="status" scope="col">Archivage</th>


            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let user of users">
            <td class=" table-user">
              <img
                class=" avatar rounded-circle mr-3"
                [src]="user.image?.imagenUrl ? user.image.imagenUrl : 'assets/img/theme/avatar.jpg'" 
              />

              <b>{{user.name}}  {{user.lastName}} </b>
            </td>

            <td><span class=" text-muted"> {{ user.createdAt | date:' dd/MMM/yyyy' }}</span></td>
            <td>
                <span class=" badge badge-dot mr-4">
                  <i class=" {{ user.enabled === true ? 'bg-success' : 'bg-warning' }}"> </i>

                  <span class=" status"> {{ user.enabled === true ? 'activé' : 'pas encore' }} </span>
                </span>
            </td>

            <td>
              <a class=" font-weight-bold" href="javascript:void(0)">
                {{user.email}}
              </a>
            </td>
            <td>
              <span class=" badge badge-dot mr-4">
                <i class=" {{ user.locked === true ? 'bg-success' : 'bg-danger' }}"> </i>

                <span class=" status"> {{ user.locked === true ? 'Non archivé' : 'Compte Archivé' }} </span>
              </span>
          </td>

            <td class=" table-actions">
              <a
                class="table-action"
                tooltip="Edit product"
                placement="top"
                href="javascript:void(0)"
                (click)="openDefaultModal(modalDefault)"

              >
                <i class=" fas fa-user-edit"> </i>
              </a>
              <ng-template #modalDefault>
                <div class=" modal-header">
                  <h6 class=" modal-title" id="modal-title-default">
                    Archivage
                  </h6>

                  <button
                    aria-label="Close"
                    class=" close"
                    data-dismiss="modal"
                    type="button"
                    (click)="defaultModal.hide()"
                  >
                    <span aria-hidden="true"> × </span>
                  </button>
                </div>

                <div class=" modal-body">
                  <div class=" py-3 text-center">
                    <i class="fas fa-lock-circle-open ni-3x"></i>
                    <h4 class=" heading mt-4">Attention!</h4>
                    <p>
                      Êtes-vous sûr de vouloir archiver cet utilisateur ? <br>
                      Veuillez noter que l'archivage de cet utilisateur l'empêchera de se connecter au tableau de bord.
                    </p>
                  </div>
                </div>

                <div class=" modal-footer">
                  <button class=" btn btn-primary" type="button" (click)="archiveUser(user.id)" (click)="defaultModal.hide()">
                    Confirmer
                  </button>

                  <button
                    class=" btn btn-link ml-auto"
                    data-dismiss="modal"
                    type="button"
                    (click)="defaultModal.hide()"
                  >
                    Fermer
                  </button>
                </div>
              </ng-template>
              <a
                class=" table-action table-action-delete"
                tooltip="Delete product"
                placement="top"
                href="javascript:void(0)"
                (click)="openNotificationModal(modalNotification)"
              >
                <i class=" fas fa-trash"> </i>
              </a>
              <ng-template #modalNotification>
                <div class=" modal-header">
                  <h6 class=" modal-title" id="modal-title-notification">
                    Suppression
                  </h6>

                  <button
                    aria-label="Close"
                    class=" close"
                    data-dismiss="modal"
                    type="button"
                    (click)="notificationModal.hide()"
                  >
                    <span aria-hidden="true"> × </span>
                  </button>
                </div>

                <div class=" modal-body">
                  <div class=" py-3 text-center">
                    <i class=" fas fa-trash ni-3x"> </i>

                    <h4 class=" heading mt-4">Attention!</h4>

                    <p>
                      Êtes-vous sûr de vouloir supprimer cet utilisateur et toutes ses données ? Cette action est irréversible !
                    </p>
                  </div>
                </div>

                <div class=" modal-footer">
                  <button class=" btn btn-white" type="button" (click)="onDeleteUser(user.id)" (click)="notificationModal.hide()" >
                    Ok, Supprimer
                  </button>

                  <button
                    class=" btn btn-link text-white ml-auto"
                    data-dismiss="modal"
                    type="button"
                    (click)="notificationModal.hide()"
                  >
                    Fermer
                  </button>
                </div>
              </ng-template>
            </td>
          </tr>
          

         
          
        </tbody>
      </table>
    </div>
  </div>
<app-drag-drop></app-drag-drop>
      </div>
    </div>
</div>