<div class="container">

    <div class="row">
      <div class="col-sm-4">
        <div id="modules" class="list">
            <h2>Drop Zone 1</h2>
          <p class="drag"><a class="btn btn-default">Text</a></p>
   
                    
          <p class="drag"><a class="btn btn-default">Textarea</a></p>
          <p class="drag"><a class="btn btn-default">Number</a></p>
        </div>
      </div>
      <div class="col-sm-4">
        <div id="dropzone1" class="list">
          <h2>Drop Zone 2</h2>
        </div>
      </div>
      <div class="col-sm-4">
        <div id="dropzone2" class="list">
          <h2>Drop Zone 3</h2>
        </div>
      </div>
    </div>
  </div>
  