<div class="container">

    <div class="row">
      <div class="col-sm-4">
        <div id="modules" class="list">
            <h2>Collaborateur</h2>
            
          <div class="drag"> <div class="bg-gradient-orange border"><div class="card-body"><p class="card-title text-uppercase text-muted mb-0 text-white" ><a>Sabri krima</a></p></div></div></div>
          <div class="drag"> <div class="bg-gradient-orange border"><div class="card-body"><p class="card-title text-uppercase text-muted mb-0 text-white" ><a>Aymen zabar</a></p></div></div></div>
          <div class="drag"> <div class="bg-gradient-orange border"><div class="card-body"><p class="card-title text-uppercase text-muted mb-0 text-white" ><a>Hssan hochlef</a></p></div></div></div>

                    
         
        </div>
      </div>
      <div class="col-sm-4">
        <div id="dropzone1" class="list">
          <h2>Admin</h2>
        </div>
      </div>
      <div class="col-sm-4">
        <div id="dropzone2" class="list">
          <h2>Manager</h2>
        </div>
      </div>
    </div>
  </div>
