#modules {
    padding: 20px;
    background: #ffffff;
    margin-bottom: 20px;
    z-index: 1;
    border-radius: 10px;
  }
  
  #dropzone1,#dropzone2 {
    padding: 20px;
    background: #ffffff;
    min-height: 100px;
    margin-bottom: 20px;
    z-index: 0;
    border-radius: 10px;
  }
  
  .active {
    outline: 1px solid red;
  }
  
  .hover {
    outline: 1px solid blue;
  }
  
  .drop-item {
    cursor: pointer;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radisu: 3px;
    border: 1px solid rgb(204, 204, 204);
    position: relative;
  }
  
  .drop-item .remove {
    position: absolute;
    top: 4px;
    right: 4px;
  }

  .card {
    /* Ajouter une ombre pour donner l'apparence d'une carte */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Arrondir les coins de la carte */
    border-radius: 8px;
    /* Ajouter un fond de couleur */
    background-color: #fff;
    /* Ajouter une bordure */
    border: 1px solid #ccc;
    /* Ajuster la marge intérieure pour le contenu */
    padding: 16px;
    /* Définir une largeur fixe ou maximale si nécessaire */
    width: 250px;
    /* Centrer le contenu dans la carte */
    margin: 0 auto;
  }
  
  /* Ajouter des styles pour le titre, le texte et d'autres éléments de la carte si nécessaire */
  .card h5 {
    font-size: 20px;
    margin: 0;
    color: #333;
  }
  
  .card p {
    font-size: 16px;
    color: #666;
  }
  

  