<div *ngIf="user"
  class=" header pb-6 d-flex align-items-center"
  style="min-height: 500px; background-image: url(assets/img/brand/batima.jpg); background-size: cover; background-position: center top;"
>
  <span class=" mask bg-gradient-danger opacity-8"> </span>

  <div class=" container-fluid d-flex align-items-center">
    <div class=" row">
      <div class=" col-lg-7 col-md-10">
        <h1 class=" display-2 text-white">Bonjour {{user.lastName}}</h1>

        <p class=" text-white mt-0 mb-5">
            Il s'agit de votre page de profil. Vous pouvez consulter les données de votre profil et mettre à jour vos informations d'identification.
        </p>

       <!-- <a class=" btn btn-neutral" href="javascript:void(0)"> Edit profile </a>-->
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col-xl-4 order-xl-2">
      <div class=" card card-profile">
        <img
          alt="Image placeholder"
          class=" card-img-top"
          src="assets/img/theme/img-1-1000x600.jpg"
        />

        <div class=" row justify-content-center">
          <div class=" col-lg-3 order-lg-2">
            <div class=" card-profile-image" style="background-color: #ccc;">
              <a href="javascript:void(0)">
                <img
                  class=" rounded-circle" aria-placeholder="Photo de Profil"
                  *ngIf="imageUrl" [src]="imageUrl" alt="User Image"
                />
              </a>
            </div>
          </div>
        </div>

        <div
          class=" card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"
        >
        <div class="d-flex justify-content-between">
          <input type="file" #fileInput style="display: none" (change)="handleFileInput($event)">
          <a class="btn btn-sm btn-info mr-4" href="javascript:void(0)"  (click)="fileInput.click()"><i class="ni ni-camera-compact">&nbsp;</i>Ajouter</a>
        

            <a (click)="onDeleteImage(user.image.Id)"
              class=" btn btn-sm btn-danger float-right"
              href="javascript:void(0)"
            >
            <i class="fas fa-trash"></i>&nbsp; Résilier
            </a> 
          </div>
        </div>

        <div class=" card-body pt-0">
          <div class=" row">
            <div class=" col">
              <div class=" card-profile-stats d-flex justify-content-center">
                <div>
                  <span class=" heading"> {{ user.createdAt | date:'dd' }} </span>

                  <span class=" description"> Date  </span>
                </div>

                <div>
                  <span class=" heading"> {{ user.createdAt | date:' MMM' }}</span>

                  <span class=" description"> D'entrée </span>
                </div>

                <div>
                  <span class=" heading"> {{ user.createdAt | date:' yyyy' }} </span>

                  <span class=" description"> En fonction  </span>
                </div>
              </div>
            </div>
          </div>

          <div class=" text-center">
            <h5 class=" h3">
              {{user.name}}  {{user.lastName}}<span class=" font-weight-light"> </span>
            </h5>

            <div class=" h5 font-weight-300">
              <i class=" ni location_pin mr-2"> </i> {{user.username}}
            </div>

            <div class=" h5 mt-4">
              <i class=" ni business_briefcase-24 mr-2"> </i> +216{{user.phoneNumber}}
            </div>

            <div>
              <i class=" ni education_hat mr-2"> </i> {{user.email}}
            </div>
          </div>
        </div>
      </div>

     
    </div>

    <div class=" col-xl-8 order-xl-1">
      <div class=" row">
        
      </div>

      <div class=" card">
        <div class=" card-header">
          <div class=" row align-items-center">
            <div class=" col-8"><h3 class=" mb-0">Modifier profil</h3></div>

           <!-- <div class=" col-4 text-right">
              <a class=" btn btn-sm btn-primary" href="javascript:void(0)">
                Settings
              </a>
            </div>-->
          </div>
        </div>

        <div class=" card-body">
          <form [formGroup]="updateUserForm" (ngSubmit)="onUpdate()">
            <h6 class=" heading-small text-muted mb-4">Vos informations</h6>

            <div class=" pl-lg-4">
              <div class=" row">
                <div class=" col-lg-6">
                    <div class=" form-group">
                      <label class=" form-control-label" for="name">
                        Nom
                      </label>
  
                      <input
                        class=" form-control"
                        type="text" id="name" formControlName="name"  placeholder="{{ user.name }}" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>                      
                       <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Le nom est obligatoire</div>
                    </div>
                    </div>
                   
                  </div>

                  <div class=" col-lg-6">
                    <div class=" form-group">
                      <label class=" form-control-label" for="lastName">
                        Prénom
                      </label>
  
                      <input
                        class=" form-control"
                        type="text" id="lastName" formControlName="lastName"placeholder="{{ user.lastName }}" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                      />
                      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Le prénom est obligatoire</div>
                    </div>
                    </div>
                  </div>
              </div>

              <div class=" row">
                <div class=" col-lg-6">
                    <div class=" form-group">
                      <label class=" form-control-label" for="email">
                         Addresse Email
                      </label>
  
                      <input
                        class=" form-control"
                        type="text" id="email" formControlName="email" placeholder="{{ user.email }}" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                      />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">L'e-mail est obligatoire</div>
                        <div *ngIf="f.email.errors.email">L'email doit être une adresse email valide</div>
                    </div>
                    </div>
                  </div>
               
                <div class=" col-lg-6">
                    <div class=" form-group">
                      <label class=" form-control-label" for="phoneNumber">
                        Numéro téléphone
                      </label>
  
                      <input
                        class=" form-control"
                        type="text" id="phoneNumber" formControlName="phoneNumber" placeholder="{{ user.phoneNumber }}" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }"
                      />
                      <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.phoneNumber.errors.required">Le numéro de téléphone est obligatoire</div>
                        <div *ngIf="f.phoneNumber.errors.minlength">Le numéro de téléphone doit comporter au moins 6 caractères</div>
                    </div>
                    </div>
                  </div>
                
              </div>
            </div>
<!--
            <hr class=" my-4" />

            <h6 class=" heading-small text-muted mb-4">Identification</h6>

            <div class=" pl-lg-4">
              <div class=" row">

                  <div class=" col-md-4">
                    <div class=" form-group">
                      <label class=" form-control-label" for="password">
                        Mot de passe
                      </label>
  
                      <input
                        class=" form-control"
                        type="password" id="password" formControlName="password"
                      />
                    </div>
                  </div>
              </div>   

              

            </div>-->
            <div> <br><button type="submit"
              class=" btn btn-primary float-right"
             
            >
              Mettre à jour
            </button>    
              </div>
        
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
